* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  min-height: 100vh;
  background: url(https://png.pngtree.com/png-vector/20230404/ourmid/pngtree-a-dark-silhouette-forest-layered-parallax-ready-scenery-layer-animation-vector-png-image_51286458.jpg)
    no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 800;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav a {
  position: relative;
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-decoration: none;
  margin-left: 40px;
  cursor: pointer;
}
.nav a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.4s ease;
}
.nav a:hover::before {
  width: 100%;
}
.btn {
  width: 100px;
  border-radius: 20px;
  border: none;
  padding: 0.2rem;
  margin-left: 30px;
  background-color: aqua;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  color: black;
}
